[Unit]
Description=Service to get new certs from LetsEncrypt for DuckDNS domains
After=bind-eth_podman.service vault-seal-check.service
Requires=bind-eth_podman.service vault-seal-check.service

[Service]
Type=oneshot
Restart=on-failure
TimeoutStopSec=5
ExecStart=/usr/local/bin/certbot-duckdns
