[Unit]
Description=Process vault-template for (%i)
After=vault-seal-check.service
Before=%i.service
Requires=vault-seal-check.service %i.service

[Service]
Type=oneshot
Restart=on-failure
TimeoutStopSec=5
ExecStart=/usr/local/bin/vault-templates /etc/vault-template/%i
