[Unit]
Description=Periodically refresh token: (%i)
After=vault-seal-check.service
Requires=vault-seal-check.service

[Timer]
RandomizedDelaySec=3600
OnCalendar=*-*-*
Persistent=true

[Install]
WantedBy=timers.target
