[Unit]
Description=Do the job of getting new certificate for vault
After=vault.target
Requires=vault.target 

[Service]
Type=oneshot
Restart=on-failure
TimeoutStopSec=5
ExecStart=/usr/local/bin/vault-certificates /etc/vault-certificate/vault
