[Unit]
Description=Wait for vault to be unsealed

[Service]
Type=oneshot
Restart=on-failure
TimeoutStopSec=10
ExecStart=/usr/bin/cp -r /home/debian/podman/vault/certs/. /home/debian/podman/vault/live/fs/vault/certs

[Install]
RequiredBy=vault.target
