[Unit]
Description=Get new certificate from vault for service (%i)
After=vault-seal-check.service
Before=%i.service
Requires=vault-seal-check.service

[Timer]
RandomizedDelaySec=3600
OnCalendar=*-*-15
Persistent=true

[Install]
WantedBy=timers.target
