[Unit]
Description=Wait for vault to be unsealed
Requires=vault-seal-check.service vault-nginx_podman.service ldap_podman.service
After=vault-seal-check.service vault-nginx_podman.service ldap_podman.service

[Service]
Type=oneshot
Restart=on-failure
TimeoutStopSec=10
ExecStart=/usr/local/bin/vault-ldap-login

[Install]
RequiredBy=default.target
