[Unit]
Description=Do the job of getting new certificate for (%i)
After=vault-seal-check.service
Before=%i.service
Requires=vault-seal-check.service

[Service]
Type=oneshot
Restart=on-failure
TimeoutStopSec=5
ExecStart=/usr/local/bin/vault-certificates /etc/vault-certificate/%i
