[Unit]
Description=Rotate intermediate authority
After=vault-seal-check.service
Requires=vault-seal-check.service

[Timer]
OnCalendar=*-*-13
Persistent=true

[Install]
WantedBy=timers.target
