[Unit]
Description=Rotate intermediate certificate authority
After=vault-seal-check.service
Requires=vault-seal-check.service 

[Service]
Type=oneshot
Restart=on-failure
TimeoutStopSec=5
ExecStart=/usr/local/bin/vault-rotate-int
